@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  aspect-ratio: 594/841 !important;
  height: auto !important;
}
